.container {
    :global {
        .app-header {
            position: relative;
            z-index: 9;
            align-items: center;
            box-sizing: border-box;
            width: 100vw;
            height: 70px;
            padding: 0 20px;
            border-bottom: 1px solid #eef2f9;
            font-size: 12px;
            color: #202224;
            background-color: #fff;
            user-select: none;
            display: flex;
            .app-logo {
                @media screen and (max-width: 850px) {
                    display: none;
                }
            }
            img {
                width: 40px;
                height: 40px;
                margin-right: 10px;
                user-select: none;
            }

            h1 {
                width: 120px;
                padding: 0;
                margin: 0;
                overflow: hidden;
                font-weight: 500;
                font-size: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #202224;
            }

            @media (max-width: 850px) {
                // img {
                //     width: 24px;
                // }

                // & > img {
                //     display: none;
                // }

                & > h1 {
                    display: none;
                }
            }

            .arrow-icon {
                transform: rotate(180deg);
                opacity: 0.8;
                &.rotate {
                    transform: rotate(0deg);
                }
                svg {
                    font-size: 15px;
                    color: #86899d;
                    position: relative;
                    top: -1px;
                }
            }
            .connect-box {
                display: flex;
                align-items: center;
                height: 100%;
                .header-info {
                    display: flex;
                    align-items: center;

                    .address-info {
                        display: flex;
                        align-items: center;
                        height: 32px;
                        padding: 5px 10px;
                        border-radius: 4px;
                        font-weight: 500;
                        font-size: 14px;
                        background-color: white;
                        box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
                        cursor: pointer;

                        img {
                            margin-right: 5px;
                            border-radius: 50%;
                        }

                        span {
                            margin-right: 4px;
                        }

                        @media (max-width: 800px) {
                            background-color: transparent;
                            box-shadow: none;

                            span {
                                display: none;
                            }

                            img {
                                margin: 0;
                            }
                        }
                    }

                    .link-target {
                        height: 24px;
                    }
                }
            }
            .button-group {
                display: flex;
                width: 100%;

                button {
                    flex: 1;
                }

                .button-doc {
                    max-width: 40px;
                    height: 40px;
                    padding: 0 12px;
                    margin-left: 10px;
                }
            }

            .github {
                font-size: 24px;
                cursor: pointer;
            }

            .flex-column {
                flex-direction: column;
            }

            .menus {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                margin-left: 10px;
                @media screen and (max-width: 850px) {
                    min-width: 50px;
                    max-width: 50px;
                    display: none;
                }
                .menu {
                    width: 100%;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
            .menus-mobile {
                display: none;
                font-size: 24px;
                @media screen and (max-width: 850px) {
                    display: flex;
                    align-items: center;
                    flex: 1;
                }
                .particle-title {
                    margin-left: 12px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 50px;
                }

                @media (max-width: 850px) {
                    display: flex;
                    align-items: center;
                }
            }
            .menus-mobile-down {
                padding-top: 10px;

                p {
                    width: 100%;
                    height: 30px;
                    padding: 0 10px;
                    border-radius: 4px;
                    font-size: 16px;
                    line-height: 30px;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        color: #1677ff;
                        background-color: #e6f4ff;
                    }
                }
            }
        }
    }
}
