.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .connectButton {
        margin-top: 16px;
        margin-right: 16px;
        align-self: flex-end;
    }
    .title {
        font-size: 26px;
        font-weight: 500;
        margin-top: 100px;
        width: 100%;
        padding: 0 16px;
        text-align: center;
    }
    .card {
        margin-top: 40px;
        width: 800px;
        max-width: calc(100% - 32px);
    }
}
