.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background: black;
}

.walletInfo {
    color: white;
    margin-top: 80px;
    font-size: 20px;
}
